.jumbotron
  .container
    .row
      %h1.logo
        Memoly
      %h2.subhead
        Driving persistency of knowledge through exposure

      .col-md-6.col-lg-6.col-md-offset-3
        = render template: "alpha_users/new"
        - if notice
          .flash.alert.alert-success.alert-dismissable
            %button{ type: "button", class: "close", :"data-dismiss" => "alert", :"aria-hidden"=>"true" }
              &times;
            = notice
        = render partial: "paypay_form"

.container
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      .center-block
        %iframe{  :width => "100%", 
                  :height => "400em", 
                  :class => "center",
                  :src => "http://www.youtube.com/embed/E2YP8Ln1MNU?html5=1", 
                  :frameborder => "0", 
                  :align => "middle", 
                  :allowfullscreen => true }

%hr

.container.marketing
  .row.featurette
    #choose-a-time
      .col-xs-7.col-sm-7.col-md-7.col-lg-7
        %h2.featurette-heading
          Choose A Time
        %span.text-muted 
          To 
        %p.lead
          Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      .col-xs-5.col-sm-5.col-md-5.col-lg-5
        = image_tag "set-revision-time.png", class: "featurette-image img-responsive pull-left"

  %hr.featurette-divider

  .row.featurette
    #add-notes
      .col-xs-5.col-sm-5.col-md-5.col-lg-5
        = image_tag "add-notes.png", class: "featurette-image img-responsive pull-right"
      .col-xs-7.col-sm-7.col-md-7.col-lg-7
        %h2.featurette-heading
          Add Condensed Class Notes
        %span.text-muted A Time
        %p.lead
          Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.

  %hr.featurette-divider
  
  .row.featurette
    #spaced-repetition
      .col-xs-7.col-sm-7.col-md-7.col-lg-7
        %h2.featurette-heading
          Spaced Repetition
        %span.text-muted 
          Receive your scientifically-spaced revision notes on any device
        %p.lead
          Memoly stirs you up by way of a timely reminder. The algorithm will grow to understand your learning habits. Over time it will become an extension of your centre of intelligence. Don't take our word for it, but do thank us for it.
      .col-xs-5.col-sm-5.col-md-5.col-lg-5
        = image_tag "spaced-icon.png", class: "featurette-image img-responsive pull-left"